@using EmployeesCollaboration.Web.Extensions

@{
    ViewData["Title"] = "Upload CSV";
    var errors = TempData.Get<List<string>>("Errors") ?? new List<string>(); ;
}

<h2>Upload CSV File</h2>

<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="form-control" accept=".csv" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Upload</button>
</form>

@await Html.PartialAsync("_Alerts", errors)